@charset "UTF-8";

body{background-color:grey}

table{ text-align:"center";}

.tabla {display:flex; justify-content: center; align-content: center;}

.contenedor{display:flex; justify-content: center; align-content: center;}

.boton {width:100px;height:50px; margin:5px}